<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="park.sangeun.runner">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_run"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="park.sangeun.runner.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GooleMapAPI" />

        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MyPageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".Activity.LoginActivity"/>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RecordActivity"/>
        <activity android:name=".Activity.GoogleLoginActivity"/>
        <activity android:name=".Activity.AnnualGoalActivity" />
        <activity android:name=".Activity.RecordDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name=".Service.LocationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>